@media all and (max-width: 768px) {
    header {
    width: auto;
    padding: 10px;
}

nav.conteneur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
}

.logo {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    padding-left: 20px;
}

.linkHeader {
 width: 50%;
 display: flex;
 justify-content: center;
 padding-bottom: 10px;  
}

.linkHeader:hover {
    border-bottom: solid #0065FC; 
    border-top: none;     
}

.link {
    display: flex;
    align-self: center; 
    justify-content: space-around;
    width: 339px;   
    gap: 0px;
}

/* section 1: Filters */

h1 {
    margin-bottom: 0px;
    font-size: 22px;
}

.recherche {   
display: none;        
}

.loupe {
    display: flex;
    align-items: center;
    background-color: #0065FC;
    color: white;
    border: solid #0065FC 5px ;   
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    border-bottom-left-radius: 10px;
    height: 46px;
    margin-left: 0px; 
}

.economique {
    border: #F2F2F2 solid;
    border-radius: 30px;
    text-align: center;
    margin-right: 20px;
    margin-left: 0px;   
    font-weight: bold;
    padding-right: 15px;
}

.economique:focus {
    color: #0065FC;
}

.familial:focus {
    color: #0065FC;
}

.romantique:focus {
    color: #0065FC;
}

.animaux:focus {
    color: #0065FC;
}

/*Section 2: Hébergement à Marseille*/

.conteneur1 {
    display: flex;
    flex-direction: column-reverse;
}

.conteneur2 {
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 0%;
    background-color: white;  
}

.HAMarseille {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0%;    
}

.hébergements {
    display: flex;
    flex-direction: column;   
}

.logement {
    width: auto;   
}

.logementPhoto {
    display: flex;
    align-self: center;
    height: 103px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding-top: 3px;
    object-fit: cover;       
}

.AfficherPlus {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px; 
}

/* Sections 3:Les plus populaires*/

.conteneur3 { 
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    background-color:#F2F2F2;
    border-radius: 0%;
    width: auto;
    height: 500px; 
} 

.LesPPopulaires {
    display: flex;
    flex-direction: column;
    align-items: center;       
    height: auto;
}

.LesPPopulaires {
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 15px;    
}

.photoPopulaire {
    width: 35%;
    height: 90%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 16% 0% 0% 16%;
    object-fit: cover;  
}

/* Section 4: Les activités */

.conteneurAconteneur {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
}

.titreCard {
    font-weight: bolder;
    margin: 0px;
    padding-top: 7px;
    padding-left: 20px;
    line-height: 100%;
}

.conteneur6 {
    width: auto;
    height: 214px;
    margin-bottom: 20px;
}

.vieuxPort {
    height: 80%;
    width: 100%;
    border-radius: 20px 20px 0% 0%;
    object-fit: cover;    
}

.conteneur7 {
    width: auto;
    height: 450px;
    margin-bottom: 20px;
    gap:0px;
    justify-content: flex-start;
}

.conteneurA {  
    box-shadow: 2px 4px 3px #ece7e7;
    height: 214px;
    width: auto;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.fort {
    height: 80%;
    width: 100%;
    border-radius:20px 20px 0px 0px;
    object-fit: cover;
}

.conteneurB { 
    box-shadow: 2px 4px 3px #ece7e7;
    height: 214px;
    width: auto;
    border-radius: 20px 20px 20px 20px; 
    margin-bottom: 0%;
    padding-bottom: 0%;  
}

.frioul {
    height: 80%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.conteneur8 {
    width: auto;
    height: 214px;
    margin-bottom: 20px;
    margin-top: 0%;
}

.parcN {
    height: 80%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.conteneur9 {
    width: auto;
    height: 450px;
    margin-bottom: 20px;
    gap: 0px;   
}

.conteneurC {   
    box-shadow: 2px 4px 3px #ece7e7;
    height: 214px;
    width: auto;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;   
}

.notreDame {
    height: 80%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.conteneurD {
    box-shadow: 2px 4px 3px #ece7e7;
    height: 214px;
    width: auto;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 0%;
}    

.parcL { 
    height: 80%;
    width: 100%;
    border-radius: 20px 20px 0px 0px; 
    object-fit: cover; 
}

/* Footer */

.conteneur10 {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.linkFooter:focus {
    color: #0065FC;
}

.leFooter {
    display: flex;
    flex-direction: row;     
    width: 80%;
    padding-bottom: 10px;
}

.footer {  
    display: flex;
    flex-direction: column;
    list-style: none;
}

ul {
    font-size: 16px;
    padding-left: 0%;
    padding-bottom: 5%;
    margin: 0%;
    margin-top: 15%;
    list-style: none;
}

li {
    padding-bottom: 25px ;
}


/* Fin du Footer */
}  