
@media all and (max-width: 768px) {
    header {
    width: auto
}
nav.conteneur{
    display: flex;
    flex-direction: column;    
}
.logo {
display: flex;
align-self: center;
    width: 131px;
    height: 50px;
}

.linkHeader:hover {
    border-bottom: solid #0065FC;
    border-top: none;
}

.link {
    display: flex;
    align-self: center;
}

.recherche {   
display: none;        
}


.loupe {
 background-color: #0065FC;
 color: white;
 border: solid #0065FC 5px ;   
 border-bottom-right-radius: 10px;
 border-top-right-radius: 10px ;
 height: 46px;
 margin-left: 0px; 
}

.conteneur1 {
    display: flex;
    flex-direction: column-reverse;
}

.conteneur3 { 
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    background-color:#F2F2F2;
    border-radius: 0%;
    width: auto;
}    
    
.LesPPopulaires {
    display: flex;
    flex-direction: column;
    align-items: center;       
    height: auto;
}

.conteneur2 {
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 0%;
    background-color: white;  
}

.HAMarseille {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0%;    
}

.hébergements {
    display: flex;
    flex-direction: column;   
}

.logement {
    width: auto;   
}

.logementPhoto {
    display: flex;
    align-self: center;
    height: 103px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding-top: 3px;
    object-fit: cover;      
}
.conteneurAconteneur {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
}

.conteneur6 {
    width: auto;
    margin-bottom: 5%;
}

.conteneur7 {
    width: auto;
    margin-bottom: 5%;
}

.conteneur8 {
    width: auto;
    margin-bottom: 5%;
}

.conteneur9 {
    width: auto;
}

.conteneur10 {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}
}  