@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('Raleway.zip/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    src: url('Raleway.zip/Raleway-VariableFont_wght.ttf') format('truetype');
}

header {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    padding: 0px 50px;
    margin: auto;
}    

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}    

.link {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.linkHeader {
    display: flex;
    text-decoration: none;
    color: #B6B3B3;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}
.linkHeader:hover {
    color:#0065FC;
    border-top: solid #0065FC;
}
/* section 1: Filters */

strong {
    color:#B6B3B3
    }

.localisation {
    display: inline;
    margin: 20px;
     
}

i.fas.fa-map-marker-alt  {
    color: black;
    background-color: #F2F2F2 ;
    display: inline;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px ;
    padding: 15px 15px;
    margin-right: 10px;
   
}

.lieu {
   font-weight: bold;
   font-size: 15px;
   color:black;
   border:#F2F2F2 solid 2px;
   height: 40px;
}

.bouton {   
    background-color: #0065FC;
    color: white;
    border: solid;
    border-color: #0065FC 5px; 
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px ;
    height: 50px;

}

.filtres {
    display: flex;
    flex-direction: row;
    margin: 20px;
    font-weight: bold;
}

i.fas {
    color:#0065FC ;
    background-color:#DEEBFF;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 10px;
    margin-right: 10px;
    
     }

.economique {
    border: #F2F2F2 solid;
    border-radius: 30px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    font-weight: bold;
    padding-right: 10px;
}
.economique:hover {
    color: #0065FC;
   }

.familial {
    border: #F2F2F2 solid;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 50px;
    margin-right: 20px;
    font-weight: bold;
    padding-right: 10px;    
}
.familial:hover {
    color: #0065FC;
}

.romantique {
    border: #F2F2F2 solid;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 50px;
    margin-right: 20px;
    font-weight: bold;
    padding-right: 10px;
}
.romantique:hover {
    color: #0065FC;
}

.animaux {
    border: #F2F2F2 solid;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    padding-right: 10px;
}
.animaux:hover {
    color: #0065FC;
}

.info {
    display: inline-block;
    flex-direction: row;
    vertical-align: middle;
  
}

.fas.fa-info{
    color:#0065FC ;
    border: 2px solid #F2F2F2;
    background-color: white;
    display: inline-block;
    border-radius: 20px;
    padding-left: 16px;
    padding-right: 17px;
    margin-right: 10px;
}


/*Section 2: Hébergement à Marseille*/

.conteneur2 {
    background-color:#F2F2F2;
    border-radius: 3%;
    padding: 10px;   
    width: 800px;
    height: 550px;
    
    
}

.HAMarseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.hébergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.h3 {
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    
}

.price {
    font-weight: bold;
}

.etoile {
    display: flex;
    flex-direction: row;
     }

.fas.fa-star {
        background: none;
        display: flex;
    margin: 0px;
    padding: 0px;
    padding-bottom: 3px;
}

.logement {
    display: flex;
    flex-direction: column;
    background-color: white;
border: white;
margin-bottom: 30px;
margin-right: 10px;
border-radius: 20px;
height: 180px;
width: 230px;
padding:2px;

}

.logementPhoto {
    display: flex;
    align-self: center;
    height: 50%;
    width: 95%;
    border-radius: 16% 16% 0% 0%;
    padding-top: 2px;
          
}

.texte {
 height: 80px;
 display: inline;
 font-size: 13px;
}

.p {
    margin: 0px;
    padding: 0px;
}

.AfficherPlus {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}

/* Sections 3:Les plus populaires*/

.conteneur3 {

 background-color:#F2F2F2;
    border-radius: 3%;
    padding: 10px;
    width: 450px;
    height: 550px;
}

.titreIconePopulaire {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

}

.fas.fa-chart-line {
    color: black;
    background: none;
    font-size: 24px;
}


@media all and (max-width: 768px) {
    header {
    width: auto
    }

@media all and (max-widht: 992px) {

}

***