@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('Raleway.zip/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    src: url('Raleway.zip/Raleway-VariableFont_wght.ttf') format('truetype');
}

header {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    padding: 0px 50px;
}    

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}    

.link {
    display: flex;
    flex-direction: row;
    gap: 70px;
  
}

.linkHeader {
    display: flex;
    text-decoration: none;
    color: #B6B3B3;
    align-items: center;
}
.linkHeader:hover {
    text-decoration:overline #0065FC solid;
    color:#0065FC;
    
}
/* section 1: Filters */

strong {
    color:#B6B3B3
    }

.localisation {
    display: flex;
    flex-direction: row;
    border-top: 2px solid#F2F2F2 ;
    border-right: 2px solid #F2F2F2;
    border-radius:50px;
    background-color:#F2F2F2 ;
    height: 30px;
    width: 30px;
    text-align: center;
}

@media all and (max-width: 768px) {
    header {
    width: auto
    }